* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: solid 1px red
}

body {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-family: changa;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
}

h2 {
  font-size: 1.5rem;
  font-weight: 100;
}

.wrapper {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
}

.blank {
  flex-grow: 0.3;
  transition: flex-grow 1s ease-in-out;
  background-color: blue;
}

.hero-section {
  flex: 0.4 1 0;
}

.cabinet-section {
  flex: 0.2 1 0;
}

.call-section {
  flex: 0.4 1 0;
}

.hero-section > *, .call-section > * {
}

.hero-section > h1, .call-section > h1 {
  height: 50%;
  align-content: end;
}

.hero-name-character {
  display: inline-block;
  opacity: 0;
  transform: translateY(calc(var(--font-size-3) * -1));
  animation: fadeDownAnim 0.5s ease-in-out forwards
}
.special-character {
  color: lightseagreen;
}

.icons {
  height: 3rem;
  width: 100%;
  background-color: gray;
}

.cabinet-section, .call-section {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    padding: 2rem 1rem;
  }

  .wrapper {
    flex-direction: column;
  }

  .blank {
    flex-grow: 0.5;
  }

  .hero-section {
    flex: 0;
    height: fit-content;
  }
  
  .cabinet-section {
    flex: 0.6 1 0;
  }
  
  .call-section {
    flex: 0.2 1 0;
  }

  .hero-section > h1, .call-section > h1 {
    height: initial
  }
}
