* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Changa;
}

:root {
  --font-size-1: clamp(2.5rem, 5vw, 5rem);
  --font-size-2: clamp(2rem, 4vw, 4rem);
  --font-size-3: clamp(1.5rem, 3vw, 3rem);
}

.wrap {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 0fr 0fr;
  grid-template-rows: 1fr 0fr 0fr;
  transition:
    grid-template-columns 0.5s ease-in-out,
    grid-template-rows 0.5s ease-in-out;
}

section {
  padding: 3rem;
}

.hero-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 100;
}

.hero-name {
  font-size: var(--font-size-1);
}

.hero-name div:nth-of-type(3) {
  font-weight: 400;
}

.hero-name-character {
  display: inline-block;
  opacity: 0;
  transform: translateY(-(var(--font-size-3)));
  animation: fadeDownAnim 0.5s ease-in-out forwards
}

.hero-text-grid, .icon-grid {
  grid-template-rows: 0fr;
  display: grid;
  transition: grid-template-rows 0.75s ease-in-out;
  width: fit-content;
  margin: 0 auto;
  width: 100%;
}

.hero-text, .icons {
  position: relative;
  overflow: hidden;
  font-size: var(--font-size-3);
}

.hero-text p:nth-of-type(1) {
  color: transparent;
}

.hero-text p:nth-of-type(2) {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.special-character {
  color: lightseagreen;
}

.caret {
  display: none;
  font-weight: bold;
  color: lightseagreen;
  animation: blink 0.75s infinite;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icons img {
  height: var(--font-size-2);
  margin: calc(var(--font-size-3) *  1.2);
  opacity: 0;
}

.icons img:nth-of-type(4) {
  height: calc(var(--font-size-2) *  0.867);
}

.icons img:nth-of-type(5) {
  height: calc(var(--font-size-2) *  0.7);
}

.cabinet {
  display: none;
}

.call {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeDownAnim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}